body {
  background-color: #BDE3FA;
}

body.inProgress {
  background-image: url('../images/wuc.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Nav bar */
.navBar {
  background-color: green;
  overflow: hidden;
}

.navBar a {
  float: left;
  text-align: center;
}

.navDrop {
  float: left;
  overflow: hidden;
}

.navDrop .buttonDrop {
  background-color: #f187e3;
  color: lightgray;
  padding: 16px;
  border: none;
}

.navBar a:hover, .navDrop a:hover .buttonDrop {
  background-color: aquamarine;
}

.contentDrop {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.contentDrop a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.contentDrop a:hover {background-color: #ddd;}

html {
  height: 100%
}
