body {
  background-color: #BDE3FA;
}

body.inProgress {
  background-image: url('../images/wuc.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Nav bar */
.navBar {
  overflow: hidden;
  background-color: #333;
}

.navBar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navDrop {
  float: left;
  overflow: hidden;
  color: red;
}

.navDrop .buttonDrop {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navBar a:hover, .navDrop:hover .buttonDrop {
  background-color: red;
}

.contentDrop {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contentDrop a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.contentDrop a:hover {
  background-color: #ddd;
}

.navDrop:hover .contentDrop {
  display: block;
}

html {
  height: 100%
}
