body {
  background-color: #BDE3FA;
}

body.inProgress {
  background-image: url('../images/wuc.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Hover Dropdown */
.hoverDrop {
  position: relative;
  display: block;
}

.contentDrop {
  display: none;
  position: absolute;
  background-color: bisque;
}

html {
  height: 100%
}
